@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}

*{
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.main{
    display: flex;
}

.sidebar{
    height: 100vh;
    width: 350px;
    background-color: #D5D5D5;
    overflow: auto;
}

/* Content */

.content{
    width: 80%;
}

.content-title>p{
    font-size: 32px;
}

.content-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 16px;
  padding: 16px;
}

.task-card{
  width: 300px;
  border: 1px solid black;
}

/* Top section */

.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon.notify{
    height: 30px;
}

.icon-div{
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-div>p,.addTask>p{
    font-size: 20px;
}

.top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

/* Tasks section */

.tasks-section{
    padding: 16px;
}

.addTask{
    border: none;
    background-color: #D5D5D5;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.addTask>img{
    height: 40px;
}

/* Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
  }

  .form-row{
    border: 1px solid #d5d5d5;
    border-radius: 3%;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin: 10px;

  }

  .form-row>input, .form-row>select{
    border: none;
    outline: none;
    padding: 2px;

  }

  .form-row>label{
    color: #888;
  }

  .form-row>select{
    background-color: white;
  }

  .row-buttons{
    display: flex;
    justify-content: center;
    gap: 4px;
  } 

  .row-buttons>button{
    width: 100px;
  }

  .modal-title{
    display: flex;
    justify-content: center;
  }

  .modal-title>p{
    font-size: 20px;
  }